*{
	font-family: source sans pro;
}
#date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;

}
h2
{
	text-transform: capitalize;
	font-weight: bold;
	color: #2c3e50;
}
body{
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}
blockquote{
	line-height: 1.5;
	margin-left: 5px;
}